PORT= 3000
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
JWT_SECRET=
JWT_ISSUER=stackly-api
JWT_AUDIENCE=stackly-api
ACCESS_TOKEN_TTL=15m
REDIS_URL=redis://localhost:6379
EMAIL_USER=
EMAIL_PASSWORD=